@import url('https://fonts.googleapis.com/css?family=Quicksand');
html, body {
    background-color: rgb(255, 233, 251);
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    background-image: url("img/plane-2909850.jpg");
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center ;
    align-items: center;

}
header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif ;
    font-size: 70px;
    border-bottom: dotted 1px rgb(255, 233, 251);
    transition: all 0.3s cubic-bezier(.5,.25.52,.7);
    cursor: pointer;
}
header h1 i{
    color: rgb(247, 215, 232);
}
header h1:hover{
    color: rgb(247, 215, 232);
}

header h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-family: cursive, serif;
    font-size: 40px;
    transition: all 0.3s cubic-bezier(.5,.25.52, .7);
    cursor: pointer
}
header h2:hover{
    color: rgb(247, 215, 232);
}


#blocImage{
   
    font-family: 'Quicksand', sans-serif ;
    font-size: 70px;
    border-style: solid;
    border: rgb(37, 65, 117);
    color: rgb(37, 65, 117);
    background-image:url("img/Camcam.png");
    background-position: center;
    opacity: 0.7;
    background-repeat: no-repeat;
    height: 347px; 
    width: 333px;
}

#blocImage #sousTitre {
    font-family: 'Quicksand', sans-serif ;
    font-size: 90px;
    border-style: solid;
    border: rgb(37, 65, 117);
    color: rgb(37, 65, 117);
    font-weight: bold;
    
}


p {
    font-family: 'Quicksand', sans-serif ;
    font-size: 20px;
    color: rgb(37, 65, 117);
    display:flex;
    flex-direction:column;
    justify-content: center ;
    align-items: center;
    

}

h4{
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 150px;
    margin-top:50px;
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border: 5px, rgb(255, 255, 255);
   
}
h4:hover{
    color: rgb(247, 215, 232);
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
    border: rgb(37, 65, 117)
}

h5 {
    color:rgb(37, 65, 117);
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    padding:15px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(37, 65, 117);
    }  

footer {
    background-color: rgb(255, 233, 251);
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around ;
    align-items: center;
    text-align: center;
    
    }

.social {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    }

.partage {
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     display: flex;
}

.spacer {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

footer p{
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    
    }

#About{
    display:flex;
    flex-direction:row;
    justify-content: left;
    align-items: center;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: justify;
    margin: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#textAbout {
    margin-left: 50px; 
    width: 67%;
}

#About a{
    background-color: rgb(37, 65, 117);
    color: rgb(247, 215, 232);
    padding-right:10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    flex-wrap: wrap;
    margin-left: 200px;

}
#menu{
    background-image: url("img/plane-2909850.jpg");
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px

}

/** RESPONSIVE **/
/* Mobile */
@media screen and (max-width : 600px) {
    section {
        display: flex; /* or inline-flex */;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    section a {
        height: 80%;
        width: 80%;
    }

}


/* Tablet */
@media only screen and (min-width : 600px) and (max-width : 900px) {
    section {
        display: flex; /* or inline-flex */;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center; 
    }
    section a {
            height: 50%;
            width: 50%;
    }
}