@import url('https://fonts.googleapis.com/css?family=Quicksand');
html, body {
    background-color: rgb(247, 215, 232);
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    background-image: url("img/plane-2909850.jpg");
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center ;
    align-items: center;

}
header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif ;
    font-size: 70px;
    border-bottom: dotted 1px rgb(247, 215, 232);
    transition: all 0.3s cubic-bezier(.5,.25.52,.7);
    cursor: pointer;
}
header h1 i{
    color: rgb(247, 215, 232);
}
header h1:hover{
    color: rgb(247, 215, 232);
}

header h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-family: cursive, serif;
    font-size: 40px;
    transition: all 0.3s cubic-bezier(.5,.25.52, .7);
    cursor: pointer
}
header h2:hover{
    color: rgb(247, 215, 232);
}


#blocImage{
   
    font-family: 'Quicksand', sans-serif ;
    font-size: 70px;
    border-style: solid;
    border: rgb(247, 215, 232);
    color: rgb(255, 255, 255);
    background-image:url("img/Camcam.png");
    background-position: center;
    opacity: 0.7;
    background-repeat: no-repeat;
    height: 347px; 
    width: 333px;
}

#blocImage #sousTitre {
    font-family: 'Quicksand', sans-serif ;
    font-size: 70px;
    border-style: solid;
    border: rgb(247, 215, 232);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 74px;
}


p {
    font-family: verdana;
    font-size: 20px;
    color: white;
    display:flex;
    flex-direction:column;
    justify-content: center ;
    align-items: center;
    

}

h4{
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 150px;
    margin-top:50px;
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border: 5px, rgb(255, 255, 255);
   
}
h4:hover{
    color: rgb(247, 215, 232);
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}

h5 {
    color:white;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    }  

    footer {
        background-color: rgb(247, 215, 232);
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content: center ;
        align-items: center;
    
    }

    footer article1{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

    }

#About{
    display:flex;
    flex-direction:row;
    justify-content: left;
    align-items: center;
    font-family: 'Quicksand', sans-serif ;
    font-size: 30px;
    text-align: left;
    margin: 100px;
}

#textAbout {
    margin-left: 50px; 
    width: 67%;
}

#About a{
    background-color: white;
    color: rgb(247, 215, 232);
    padding-right:10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    flex-wrap: wrap;

}
